mat-expansion-panel {
    form {
        display: flex;
        flex-direction: column;

        .expected-received-date {
            width: 100%;
            display: flex;
            flex-direction: row;
            & > * {
                flex: 1 1 auto;
            }
        }
    }
}
